@font-face {
    font-family: 'Airborne';
    src: url('Airborne.woff2') format('woff2'),
        url('Airborne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

